.backdrop-overlay {
    background-color: #11131b;
    opacity: .7;
    z-index: 51;
    animation: fade-in .2s ease-out;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: none
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: .3
    }
}

@keyframes slide-in {
    from {
        right: -300px
    }

    to {
        right: 0
    }
}

@-webkit-keyframes float-mobile {
    0% {
        transform: translate(0, 30%)
    }

    50% {
        transform: translate(0, 20%)
    }

    100% {
        transform: translate(0, 30%)
    }
}

@keyframes float-mobile {
    0% {
        transform: translate(0, 30%)
    }

    50% {
        transform: translate(0, 20%)
    }

    100% {
        transform: translate(0, 30%)
    }
}

@-webkit-keyframes float1-mobile {
    0% {
        transform: translate(0, -30%)
    }

    50% {
        transform: translate(0, -45%)
    }

    100% {
        transform: translate(0, -30%)
    }
}

@keyframes float1-mobile {
    0% {
        transform: translate(0, -30%)
    }

    50% {
        transform: translate(0, -45%)
    }

    100% {
        transform: translate(0, -30%)
    }
}

@media only screen and (max-width:600px) {
    .line {
        height: 4.8rem
    }

    .btn-with-bg {
        background-size: contain
    }

    .slick-prev {
        left: 0
    }

    .slick-next {
        right: 0
    }

    .slick-prev,
    .slick-next {
        width: 3rem;
        height: 4rem
    }

    .show-mobile-menu {
        overflow: hidden
    }

    .show-mobile-menu header .header-menu {
        display: block
    }

    .show-mobile-menu .backdrop-overlay {
        display: block
    }

    .btn-header {
        width: 20rem;
        height: 9.8rem;
        font-size: 1.4rem
    }

    .btn-header span {
        width: 11rem;
        line-height: 1.4rem
    }

    header {
        padding-right: 0;
        padding-left: 0;
        height: 6rem;
        padding: 2rem;
        justify-content: space-between;
        background-color: #000000a1;
        align-items: center
    }

    header .mobile-menu-icon {
        display: block;
        font-size: 40px;
        color: #fff
    }

    header .logo {
        margin-top: 0
    }

    header .logo img {
        transform: scale(.45) translate(-6rem, 0.5rem)
    }

    header .header-menu {
        width: 300px;
        right: 0;
        z-index: 9999;
        animation: slide-in .2s ease-out;
        box-shadow: 0 3px 8px 0 rgba(17, 19, 27, .3);
        top: 0;
        position: fixed;
        background-color: #242735;
        height: 100vh;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-top: 0;
        padding-top: 3rem;
        display: none
    }

    header .header-menu li {
        padding: 1.5rem 0;
        text-align: center;
        border-bottom: 1px solid #1f1c1c
    }

    header .header-menu li .btn-connect {
        margin: 0 auto;
        margin-top: 2.5rem
    }

    header .header-menu li:last-child {
        border-bottom: none
    }

    .banner .banner-pc {
        display: none
    }

    .banner .banner-mobile {
        display: block
    }

    .banner .action-group {
        bottom: 6%
    }

    .banner .action-group button.btn {
        width: 16rem;
        height: 10.2rem;
        font-size: 1.4rem
    }

    .banner .action-group .btn-buy-kwt {
        margin-right: 2rem
    }

    .about {
        padding-bottom: 6rem
    }

    .about .about-content {
        padding-top: 4.5rem;
        grid-template-columns: 1fr
    }

    .about .about-content .about-content-left .btn-play {
        width: 4.8rem;
        height: 4.8rem
    }

    .about .about-content .about-content-left .gold-box {
        width: 14rem;
        transform: translate(-5%, 25%)
    }

    .about .about-content .about-content-right p {
        font-size: 1.4rem;
        line-height: 2.1rem
    }

    .about .about-content .about-content-right .btn-play-game {
        width: 20rem;
        height: 5rem;
        margin-top: 5.1rem
    }

    .game-story .armor {
        display: none
    }

    .game-story .game-story-content {
        padding-top: 2rem
    }

    .game-story .game-story-content .img-group {
        top: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(15%)
    }

    .game-story .game-story-content .img-group img:first-child {
        transform: translate(0, 45%);
        -webkit-animation: float-mobile 4s ease-in-out infinite;
        animation: float-mobile 4s ease-in-out infinite
    }

    .game-story .game-story-content .img-group img:last-child {
        transform: translate(0, -30%);
        -webkit-animation: float1-mobile 4s ease-in-out infinite;
        animation: float1-mobile 4s ease-in-out infinite
    }

    .game-story .game-story-content .btn-header {
        transform: translate(-50%, -90%)
    }

    .game-story .game-story-content .frame-pc {
        display: none
    }

    .game-story .game-story-content .frame-mobile {
        display: block
    }

    .game-story .game-story-content .story-content {
        max-width: 36rem
    }

    .game-story .game-story-content .story-content .story p {
        font-size: 1.4rem
    }

    .game-story .game-story-content .story-content .slick-dots {
        transform: translateY(-100%)
    }

    .charactor {
        padding-bottom: 0
    }

    .charactor .charactor-container {
        padding: 15rem 0;
        padding-bottom: 0
    }

    .charactor .charactor-header button {
        transform: translateY(0%)
    }

    .charactor .charactor-header p {
        font-size: 1.2rem
    }

    .charactor .charactor-content .slick-prev {
        left: -1.5rem
    }

    .charactor .charactor-content .slick-next {
        right: -1.7rem
    }

    .charactor .charactor-content .hero-group {
        width: 32rem;
        margin: 0 auto
    }

    .charactor .charactor-content .hero-group .hero {
        width: 32rem
    }

    .charactor .charactor-content .hero-group .hero img {
        width: 32rem
    }

    .charactor .charactor-content .hero-intro {
        padding: 3rem
    }

    .charactor .charactor-content .hero-intro button.hero-btn {
        width: 27rem;
        height: 7.35rem;
        transform: translate(-50%, -3.5rem)
    }

    .charactor .charactor-content .hero-intro .hero-intro-detail {
        padding-top: 2.5rem !important;
        grid-template-columns: 1fr;
        grid-gap: 3rem
    }

    .charactor .charactor-content .hero-intro .hero-intro-detail .hero-intro-left {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .5rem
    }

    .charactor .charactor-content .hero-intro .hero-intro-detail .hero-intro-left .skill-box {
        margin-right: 0
    }

    .charactor .weapon .weapon-content {
        grid-template-columns: 100%
    }

    .charactor .weapon .weapon-content p {
        font-size: 1.4rem
    }

    .charactor .weapon .weapon-content .weapon-content-right {
        width: 100%;
        padding: 4rem
    }

    .charactor .weapon .weapon-content .weapon-content-right .weapon-box button {
        width: 16rem;
        height: 4rem
    }

    .marketplace .marketplace-header .btn-header {
        transform: translate(-50%, -17rem)
    }

    .marketplace .marketplace-content .slick-next {
        right: 0
    }

    .marketplace .marketplace-content .slick-prev {
        left: 0
    }

    .roadmap .our-team .our-team-header p {
        margin-top: -3rem
    }

    .feature .token-metric {
        width: 100%;
        background-image: unset
    }

    .feature .token-metric .btn-header {
        margin-bottom: 3rem
    }

    .feature .token-metric .pc-hide {
        display: block
    }

    .feature .token-metric .token-metric-content {
        background-image: unset;
        flex-direction: column;
        max-width: unset;
        min-width: unset;
        padding: 0
    }

    .feature .token-metric .token-metric-center {
        display: none
    }

    .feature .token-metric .token-metric-right .title {
        text-align: left !important;
        font-size: 1.4rem
    }

    .feature .token-metric .token-metric-left {
        width: 100%;
        padding-left: 0 !important
    }

    .feature .token-metric .token-metric-left div {
        padding: 1rem;
        text-align: center
    }

    .feature .token-metric .token-metric-left .title {
        font-size: 1.4rem
    }

    .feature .token-metric .token-metric-left p {
        font-size: 1.4rem !important;
        line-height: 2.1rem !important
    }

    .feature .token-metric .token-metric-right {
        margin-top: 1.8rem;
        width: 100%;
        padding-left: 0 !important
    }

    .feature .token-metric .token-metric-right div {
        padding: 1rem;
        text-align: center
    }

    .feature .token-metric .token-metric-right p {
        font-size: 1.4rem !important;
        line-height: 2.1rem !important
    }

    .feature .token-metric .title-group {
        display: flex;
        justify-content: center;
        padding: 0 !important
    }

    .feature .token-metric .title-group .title:first-child {
        margin-right: .5rem
    }

    .feature .slick-next {
        right: 0
    }

    .feature .slick-prev {
        left: 0
    }

    .roadmap {
        padding: 30px 20px
    }

    .roadmap .roadmap-header .btn-header {
        transform: translate(-50%, -11rem)
    }

    .roadmap .roadmap-header p {
        font-size: 1.4rem
    }

    .roadmap .title {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 1rem
    }

    .roadmap .roadmap-content p {
        font-size: 15px
    }

    .roadmap .timeline::after {
        left: 31px
    }

    .roadmap .timeline .left h2,
    .roadmap .timeline .left p {
        text-align: left
    }

    .roadmap .timeline-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px
    }

    .roadmap .timeline-container::before {
        left: 60px;
        border: medium solid #fff;
        border-width: 10px 10px 10px 0;
        border-color: transparent #fff transparent transparent
    }

    .roadmap .left::after,
    .roadmap .right::after {
        left: 1.1rem
    }

    .roadmap .right {
        left: 0%
    }

    .roadmap .our-team {
        padding: 0 2rem
    }

    .roadmap .our-team .member-info {
        height: auto !important
    }

    .roadmap .our-team .member-info .social {
        margin-top: 2rem !important
    }

    .roadmap .advisor .advisor-content {
        padding-bottom: 3.5rem
    }

    .partner .partner-content img {
        margin: 0 auto;
        max-width: 20rem !important
    }

    .partner .partner-content img:first-child {
        margin-top: 0
    }

    .partner .partner-header {
        transform: translateY(-66%) !important
    }

    .partner .partner-header p {
        font-size: 1.4rem !important;
        line-height: 1.4rem
    }

    .partner .investor-header p {
        font-size: 1.4rem !important;
        line-height: 1.4rem
    }

    .partner .partner-container .investor-content {
        grid-template-columns: 100%;
        grid-row-gap: 3rem
    }

    .partner .partner-container .investor-content img:last-child {
        margin: 0 auto !important
    }

    .footer-container {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: .25rem !important
    }

    .footer-container .footer-item:last-child {
        grid-column-start: 1;
        grid-column-end: 3
    }

    .footer-container .footer-item:last-child .social-lst {
        display: flex;
        flex-wrap: wrap
    }

    .footer-container .footer-item:last-child .social-lst img {
        margin-right: 1rem;
        margin-bottom: 1.5rem
    }

    .modal-content {
        width: 350px
    }
}